.pokemon-details-wrapper{
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}
.pokemon-name1{
   
    margin-bottom:20px;
    font-size:2rem;

}
.pokemon-image{
     
    margin-bottom:20px;
}
.pokemon-weight{
   
    margin-bottom:20px;
    font-size:2rem;
}
.pokemon-height{
    
    margin-bottom:20px;
    font-size:2rem;
}
.pokemon-types{
    display:flex;
    gap:20px;
    font-size:1.5rem;

}